<h1>Register a new cuisine</h1>

<% if flash.notice %>
    <%= flash.notice %>
<% end %>

<%= form_with model: @cuisine do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit 'Register' %>
<% end %>