<h1><%= @recipe.name %></h1>

<strong>Descrição:</strong> <%= @recipe.description %>
<strong>Cozinha:</strong> <%= @recipe.cuisine.name %>
<strong>Modo de preparo:</strong> <%= @recipe.preparation_method %>
<strong>Tempo de preparo:</strong> <%= @recipe.preparation_time %>
<strong>Tipo de receita:</strong> <%= @recipe.recipe_type.name %>