<h1>Editing <%= @movie.title %></h1>

<%= form_with model: @movie do |f| %>
    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :release_date %><br>
        <%= f.date_field :release_date %>
    </div>
    <div>
        <%= f.label :synopsis %><br>
        <%= f.text_area :synopsis %>
    </div>
    <div>
        <%= f.label :duration %><br>
        <%= f.number_field :duration %>
    </div>
    <div>
        <%= f.label :director_id %><br>
        <%= f.collection_select :director_id, Director.order(:name), :id, :name %>
    </div>
    <div>
        <%= f.label :genre_id %><br>
        <%= f.collection_select :genre_id, Genre.order(:name), :id, :name %>
    </div>
    <div>
        <%= f.label :released, 'Released?' %>
        <%= f.check_box :released, :checked => @movie.released == 'released' ? true : false %>
    </div>
    <div>
        <%= f.radio_button :status, '2', :checked => @movie.status == 'draft' ? true : false  %>
        <%= f.label :status_draft, 'Draft' %>
        <%= f.radio_button :status, '3', :checked => @movie.status == 'published' ? true : false %>
        <%= f.label :status_published, 'Publish' %>
    </div>
    <div>
        <%= f.label :cover, 'Cover' %>
        <%= f.file_field :cover %>
    </div>
    </div>
    <p>
        <%= f.submit %>
    </p>
<% end %>