<%= link_to 'Go back', movies_path %>
<h2><%= @movie.title %></h2>
<ul>
    <li>Release data: <%= @movie.release_date.strftime("%d/%m/%Y") %></li>
    <li>Synopsis: <%= @movie.synopsis %></li>
    <li>Duration: <%= @movie.duration / 60 %>h and <%= @movie.duration % 60 %>min</li>
    <li>Director: <%= @movie.director.name %></li>
    <li>Genre: <%= @movie.genre.name %></li>
</ul>
<%= link_to 'edit this movie', edit_movie_path %>
<%= button_to 'delete this movie', movie_path(@movie), :method => :delete %>